In [18]:
import numpy as np
import pandas as pd

In [19]:
import pandas as pd
score_df = pd.DataFrame([[1,50,80,70,'boy',1], 
              [2,60,45,50,'boy',2],
              [3,98,43,55,'boy',1],
              [4,70,69,89,'boy',2],
              [5,56,79,60,'girl',1],
              [6,60,68,55,'girl',2],
              [7,45,70,77,'girl',1],
              [8,55,77,76,'girl',2],
              [9,25,57,60,'girl',1],
              [10,88,40,43,'girl',3],
              [11,25,60,45,'boy',3],
              [12,80,60,23,'boy',3],
              [13,20,90,66,'girl',3],
              [14,50,50,50,'girl',3],
              [15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
score_df = score_df.set_index('student_id')

In [20]:
print(score_df[['math_score' , 'english_score' , 'chinese_score']].max())

math_score       98
english_score    90
chinese_score    89
dtype: int64

In [46]:
score_df.groupby('class').mean().sort_values('math_score' , ascending=False)

       math_score  english_score  chinese_score
class
2       61.250000      64.750000      67.500000
3       58.666667      61.166667      50.666667
1       54.800000      65.800000      64.400000

In [39]:
sex_score = score_df.groupby('sex').mean()
del sex_score['class']
answer = sex_score.loc['girl' , 'chinese_score'] - sex_score.loc['boy' , 'chinese_score']
print('全校女生與男生國文平均差' + str(answer) + '分')

全校女生與男生國文平均差7.333333333333329分