In [2]:
import pandas as pd
import numpy as np
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [6]:
print( '6號學生的平均成績為' + str(score_df.loc[6].mean()))

6號學生的平均成績為56.333333333333336

In [22]:
score_df['mean'] = score_df.mean(axis = 1)
print(score_df.sort_values('mean' , ascending = False))

            math_score  english_score  chinese_score       mean
student_id
4                   70             77             89  78.666667
5                   56             80             70  68.666667
7                   45             70             79  64.666667
1                   56             66             70  64.000000
8                   34             77             76  62.333333
9                   25             87             60  57.333333
10                  88             40             43  57.000000
2                   90             45             34  56.333333
6                   60             54             55  56.333333
3                   45             32             55  44.000000

In [27]:
score_df = score_df.apply(lambda x : x**(0.5) * 10)
print('6號同學新成績')
print(score_df.loc[6])

6號同學新成績
math_score       88.011174
english_score    85.723213
chinese_score    86.117353
mean             86.634598
Name: 6, dtype: float64

In [33]:
new_mean = score_df.mean(axis = 0)
new_mean.drop('mean')
print('全班各科新平均\n' , new_mean)

全班各科新平均
 math_score       85.762627
english_score    88.247062
chinese_score    88.529786
mean             88.180040
dtype: float64